<div class="friends-page">
  <form class="form">
    <div class="title">Add new friend<br /><span>Enter your new friend's name</span></div>
    <input type="text" placeholder="e.g John" name="name" class="input" />
    <button class="button-confirm" type="button">Add friend</button>
  </form>
</div>