<div class="home-container">
  <div class="list-card">
    <ul class="list-body">
      <h1 class="list-title">
        Friends List
      </h1>
      {{#each friendsList}}
        <li class="item">
          <p>{{name}}</p>
        </li>
      {{/each}}
    </ul>

  </div>
  <a href="/friends" class="add-friend">Add new one</a>
</div>